$headerBackground:#212121;
$headerFontColor: #f5f5f5;
$langHover: #FF9085;
$menuItemHover: #9571F6;
$menuBtnLogin: #9571F6;
$menuBtnLoginHover: #6a4bbc;
$topPagemiddle: #f8f8f8;
$topPagemiddleException: #9d77ff;
$topPagemiddleUnder: #bcbcbc;

// ------

$aqua: #66FCF1;
$aquaHr: #82EDED;
$aquaJoin: #CFFAFA;
$background: #000000;
$yellow1: #FFE975;
$yellow2: #DFC53E;
$yellow3: #D4B200;